.git
.github
.vscode
.history
.DS_Store

.env
.env.*
!.env.example
dbdata

docs
tests
database

README.md
TESTING.md
phpunit.xml
composer-test.json
run-tests.sh
docker-compose.yml

app/.env
app/vendor
app/php_errorlog
app/includes/php_errorlog
app/includes/error_log
app/VMF